<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  对应接口的全路径 -->
<mapper namespace="com.yc.dao.IGoodsTypeMapper">
	<!-- id值必须跟这个接口里面的方法名一致 -->
	<select id="findAll" resultType="GoodsType">
		select tno, tname, pic, status from goodsType order by tno
	</select>
	
	<select id="finds" resultType="GoodsType">
		select tno, tname from goodsType order by tno
	</select>
	
<select id="findByLike" resultType="GoodsType">
  SELECT * FROM goodstype WHERE tname like CONCAT('%',#{tname},'%')  
  
</select>
</mapper>
